<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Label</key>
   <string>github.poke</string>
   <key>ProgramArguments</key>
   <array>
      <string>{PYTHON3}</string>
      <string>{HOME}/poke/poke.py</string>
      <string>--listen</string>
   </array>
   <key>KeepAlive</key>
   <true/>
   <key>StandardErrorPath</key>
   <string>/tmp/github.poke.err</string>
   <key>StandardOutPath</key>
   <string>/tmp/github.poke.out</string>
</dict>
</plist>
